<!-- snippets/product-bullets.liquid -->
<ul class="product-bullets">
    <li>
        <span class="product-bullets__text">{{ 'products.bullets.bullet_1' | t }}</span>
    </li>
    <li>
        <span class="product-bullets__text">{{ 'products.bullets.bullet_2' | t }}</span>
    </li>
    <li>
        <span class="product-bullets__text">{{ 'products.bullets.bullet_3' | t }}</span>
    </li>
</ul>
<style>
    ul.product-bullets {
        margin: 20px 0;
        padding: 10px 20px 10px 40px;
        background: {{ section.settings.bg }};
    }

    ul.product-bullets li {
        margin: 10px 0;
        /*list-style: none;*/
    }

    .product-bullets__text {
        font-weight: bold;
        /*position: relative;
        top: -5px;*/
    }
</style>