
.menu__image {
    width:40px;
    height:40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right:20px;
}
.menu-drawer__inner-submenu .menu__image {
    width: 30px;
    height:30px;
    margin-right:15px;
    margin-left:5px;
}
.js .menu-drawer__navigation ul.menu-drawer__menu details[open].menu-opening>.menu-drawer__submenu a.menu-drawer__menu-item.link {
    padding-left:3.2rem !important;
}
.menu__image img {
    width:100%;
    height:100%;
    object-fit: cover;
}


/*
    Photoswipe
*/


.pswp__bg:empty {
    display: block !important;
}
.pswp--touch .pswp__button--arrow {
    visibility: visible !important;
}
.pswp__button--arrow svg *, .pswp__button--close svg * {
    fill:black;
}
.pswp__button--close svg * {
    stroke: none !important
}
.pswp__button--zoom, .pswp__counter {
    display: none !important;
}
.pswp__button--arrow {
    background-color: white !important;
    width:60px !important;
    height:60px !important;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top:auto !important;
    bottom:150px !important; */
    transform: scale(.6) !important;
}
/* .pswp__button--arrow--next {
    right:20% !important;
}
.pswp__button--arrow--prev {
    left:20% !important;
} */
.pswp__button--arrow svg {
    transform:scale(.4) !important
}
.pswp__button--arrow--next .pswp__icn {
    transform:scale(.4) rotate(180deg) !important;
    right:4px !important
}
.pswp__button--arrow--prev .pswp__icn {
    left:4px !important
}

.product__media-icon--lightbox {
    pointer-events: none;
}

.complementary-products__container .card__custom-badges {
    display: none !important;
}



.product__media--video, .product__media--external_video {
    display: none;
}